<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PelitaApps"
        tools:targetApi="31">
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.TrackDriverActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".profile.LanguageActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".sell.PickLocationPointActivity"
            android:exported="false" />
        <activity
            android:name=".sell.SellActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".payment.ConfirmPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentSuccesActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash.LandingPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dicoding.pelitaapps"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>